dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 40px;
} 

dt, dd {
    display: inline-block;
    padding: 8px 10px;
}

dt {
    width: 100px;
	padding:20px;
	margin: 4px auto;
    margin-left: 240px;
    color: #fff;
	background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(150deg, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(150deg, #9a8478, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	/* float: right; */
    /* background: #00AA8F;
    color: white;
    text-align: right;
    padding-left: 30px;
    font-size: .95em;
} */
}

dt:after {
    content: ":";
}

dd {
    width: 100px;
	padding:20px;
	margin: 4px auto;
    margin-left: 20px;
    background: #fff;
    color: #000;
    border-radius: 10px;
}